{% extends 'gpsmonitor/_base.html' %}
{% load staticfiles %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Вход</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post">{% csrf_token %}
                            <fieldset>
                                <div class="form-group {% if form.email.errors or form.password.errors %} has-error {% endif %}">
                                    <input class="form-control" placeholder="E-mail" name="email" id="id_email" type="email" autofocus  {% if form.email.value %} value="{{ form.email.value }}" {% endif %}>
                                </div>
                                <div class="form-group {% if form.email.errors or form.password.errors %} has-error {% endif %}">
                                    <input class="form-control" placeholder="Password" name="password" id="id_password" type="password" {% if form.password.value%} value="{{ form.password.value }}" {% endif %}>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-success btn-block" type="submit">Войти</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}