{% extends "gpsmonitor/_base.html" %}
{% load staticfiles %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GPS Monitoring</a>
            </div>
            <!-- /.navbar-header -->
            {% include 'gpsmonitor/lk/headerbar.html' %}
            <!-- /.navbar-top-links -->
            {% include 'gpsmonitor/lk/navbar.html' %}
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            {% block page-wrapper %} {% endblock %}
{#            <div class="container-fluid">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <h1 class="page-header">Blank</h1>#}
{#                    </div>#}
{#                    <!-- /.col-lg-12 -->#}
{#                </div>#}
{#                <!-- /.row -->#}
{#            </div>#}
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
{% endblock %}

</html>
