
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-video-camera fa-fw"></i> Мониторинг<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Оборудование 1</a>
                    </li>
                    <li>
                        <a href="#">Оборудование 2</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Настройки<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"> Профиль</a>
                    </li>
                    <li>
                        <a href="#"> Оборудования</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-dollar fa-fw"></i> Билинг</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-medkit fa-fw"></i> Поддержка<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Описание продукта</a>
                    </li>
                    <li>
                        <a href="#">Вопросы</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
